[data-station-title] {
	cursor: pointer;
}

h1 {
	text-align: center;
	padding: 0.1rem;
}

/**/
#nowplaying-website[href=""] {
	visibility: hidden;
}

/**/
.btn[data-station-fav=false] {
	display: none;
	/*visibility: hidden;*/
}

.btn[data-station-delete] {
	visibility: hidden;
}

[data-station-i]:hover .btn[data-station-delete] {
	visibility: visible;
}


#form-editor {
	display: none;
}

#form-editor.show {
	display: block;
}