/* Панель управління */
#ppme-controlboard {
	position: fixed;
	display: block;
	bottom: 2px;
	right: -200px; 
	width: 200px;
	transition: right .1s ease;
	padding: 5px;
	background-color: black;
	color: white;
	z-index: 100;
}

#ppme-controlboard:hover {
	right: 0px;
}

#ppme-bookmark {
	background-color: wheat;
	color: black;
	left: -4rem;
	width: 4rem;
	margin: 0;
	padding: 2px;
	/*padding: 1rem;*/
	position: absolute;
}

/* Попередження "Виконуються автоматичні дії" */
#ppme-autoactionnotification {
	background-color: darkorange;
	color: white;
	padding: 5px;
	position: fixed;
	top: 2px;
	left: 2px;
}
